img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  display: block;
}

h1{
  padding-top: 2%
}

.icons{
  float: left;
  width: 100%;
  padding-bottom: 2%;
}

.icons a img{
  float: right;
  height: 28px;
  width: auto;
  margin-left: 5%;
}

.aboutMe-Box{
  border-style: outset;
  margin: 5%;
}

.grid-container{
  margin: 5%;
  display: grid;
  grid-template-columns: 35% 65%;
}

.grid-container div{
  margin: 1%;
}

.subtitle{
  font-weight: bold;
}

@media screen and (max-width: 800px) {
 .grid-container{
    grid-template-columns:100%;
  }
}