img{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.centerContent{
  margin-top: 3%;
}

h3{
  color: #d4d957;
  margin-bottom: 5%;
}

b{
  color: #dbdbdb
}

li{
  color: #ababab
}