body {
  background: url(../images/background.jpg);
}

.content{
  background: rgba(0,0,0,.65);
  height: 100%;
  width: 80%;
  min-width:1300px;
  margin: 0 auto;
}
.pics_in_a_row {
    display: flex;
    width: 900px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

.img1 { flex: 2.021; max-height:450px; }
.img2 { flex: 0.805; max-height:450px; }
@media screen and (max-height: 850px) {
  .pics_in_a_row {
    width: 700px;
  }
}
@media screen and (max-height: 800px) {
  .pics_in_a_row {
    width: 500px;
  }
}
@media screen and (max-height: 700px) {
  .image_slider {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .pics_in_a_row { width: 90% !important; }
  img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  .img2{ display: none; }
  .content {
    width: 100%;
    min-width: 100%;
  }
  
  .image_slider {
    display: none;
  }
}
@media screen and (max-width: 1000px) and (min-width: 601px){
  .pics_in_a_row { width: 90% !important; }
  img {
    max-height: 200px;
    width: auto;
    margin: 0 auto;
    display: block;
  }
  .img2{ display: none; }
  .content {
    width: 100%;
    min-width: 100%;
  }
  
  .image_slider {
    display: none;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1001px) {
  .content {
    width: 100%;
    min-width: 100%;
  }
  .pics_in_a_row {
    width: 720px; 
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px;
  }
  .image_slider {
    width: 960px !important;
  }
  .image_slider > div:nth-child(1), .image_slider > div:nth-child(5){
    display: none;
  }
}

@media screen and (min-width: 1301px){
  .image_slider{
    height: 55% !important;
  }
}

.image_slider{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 1200px;
  height:40%;
}
.image_slider > div {
  float:left;
  position: relative;
  transition: all .17s linear;
}
.image_slider > div:not(:nth-child(3)):hover {
  cursor: pointer;
}
.image_slider > div:hover:before {
  background: rgba(255,255,255,.2) !important;
}
.image_slider > div:nth-child(1), .image_slider > div:nth-child(5){
  width: 120px;
  height: 70%;
  margin-top: 6%;
}
.image_slider > div:nth-child(2), .image_slider > div:nth-child(4){
  width: 180px;
  height: 90%;
  margin-top:3%;
}
.image_slider > div:nth-child(3) {
  width: 600px;
  height: 100%;
}
.image_slider > div:nth-child(1):before, .image_slider > div:nth-child(2):before, .image_slider > div:nth-child(4):before, .image_slider > div:nth-child(5):before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  height:100%;
  width: 100%;
  transition: background .2s ease-out;
}
.image_slider > div:nth-child(1):before, .image_slider > div:nth-child(5):before{ background: rgba(0,0,0,.8); }
.image_slider > div:nth-child(2):before, .image_slider > div:nth-child(4):before{ background: rgba(0,0,0,.3); }