/** Standard Navbar **/
.navbar{
  width: 60%;
  margin-left: auto;
  margin-right: auto;    
  border-bottom-style: groove;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar .active {
  background-color: #4CAF50;
}

.navbar .icon {
  display: none;
}

/** Landingpage Navbar **/
.landingpage_navbar{
  width: 350px;
  margin-left: auto;
  margin-right: auto;    
}

.landingpage_navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.landingpage_navbar li {
  float: left;
  text-align: center;
}

.landingpage_navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.2s ease-out;
}

.landingpage_navbar li a:hover:not(.active) {
  background-color: #333;
}

.landingpage_navbar .active {
  background-color: #4CAF50;
}

/** Responsive **/
@media screen and (max-height: 700px) {
  .landingpage_navbar li {
    float: inherit;
    border-style: groove;
    margin: 10%;
  }
}

@media screen and (max-width: 800px) {
  .navbar{
    width: 100%;
  }
  
  .navbar li a {
    padding: 14px 5px;
  }
  
  .landingpage_navbar{
    float: inherit;  
  }
}

@media screen and (max-width: 1000px) {
  .navbar{
    width: 80%;
  }
  .landingpage_navbar{
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%)
  }
  .landingpage_navbar li {
    float: inherit;
    border-style: groove;
    margin: 10%;
  }
}

@media screen and (max-width: 1300px) and (min-width:  1001px) {
  .navbar{
    width: 80%;
  }
  
  .landingpage_navbar{
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%)
  }
}