.gallery-centerContent{
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

.grid-container{
  display: grid;
  width: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-items: center;
  position: relative;
}

.gallery-grid-container{
  display: grid;
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  justify-items: center;
  position: relative;
}

a{
  color: inherit;
  text-decoration: inherit;
  position: relative;
}

.grid-element{
  display: block;
  position: relative;
  margin: 5%;
  width: 90%;
  height: auto;
}

.gallery-grid-element{
  display: block;
  position: relative;
  margin: 5%;
  width: 90%;
  height: auto;
}

.grid-element div{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 280px;
  
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.gallery-grid-element div{
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 335px;
  
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.grid-element-box{
  background: none;
  padding-top: 250px;
}

.grid-element-box p{
  background: black;
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
}

@media screen and (max-width: 600px) {
  .grid-container{
    grid-template-columns: 100%
  }
  
  .gallery-grid-container{
    grid-template-columns: 100%
  }
  
  .gallery-grid-element div{
    height: 280px;
  }
}