* {
  margin: 0;
  padding: 0;
}
body, html{
  height: 100%;
}
body {
  background: #333;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: #ddd;
  text-align: center;
}
a{
  color: inherit;
  text-decoration: inherit;
  position: relative;
}

.centerContent{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
}

@media screen and (max-width: 800px) {
  .centerContent{
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .centerContent{
    width: 80%;
  }
}